@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.base-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: palegreen;
    
}

.contentback {
    margin-top:10px;
    background-color:#568277;
    border-radius: 30px;
}

.content{
    display: flex;
    flex-direction: column;
}

.imageLogo{
    margin-top:20px;
    align-self: center;
    width: 330px;
    height:88px;
    display: flex;
    flex-direction: column;
}

.imageWelcome{
    margin-top:8px;
    margin-bottom: 8px;
    align-self: center;
    width: 193px;
    height:56px;
    display: flex;
    flex-direction: column;
}

.form{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

label{
    font-family: 'Rochester', cursive;
    font-size: 25px;
    align-self: flex-start;
}

input{
    color: white;
    min-width:18em;
    height: 40px;
    padding: 0px 10px;
    font-size: 15px;
    border: 0; 
    background-color: #0F2626;
    border-radius: 4px;
    margin-bottom: 6px;
    transition: all 250ms ease-in-out; 
}

.footer{
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.btnLogin{
    align-self: flex-start;
    
    font-family: 'Rochester', cursive;
    font-size: 27px;
    color: white;
    height: 71px;
    width: 71px;
    background-color: #0F2626;
    border-radius: 50%;
    display: inline-block;
    border:0;
    transition: all 300ms ease-in-out; 
}

.btnResetPassword{
    font-family: 'Rochester', cursive;
    color: white;
    font-size: 29px;
    width: 171px;
    height: 44px;
    background-color: #0F2626;;
    border-radius: 24px;
    border:0;
    transition: all 300ms ease-in-out; 
}

.btnForgotPassword{
    margin-left: 45px;
    margin-bottom: 17px;
    
    font-family: 'Rochester', cursive;
    color: white;
    font-size: 26px;
    width: 171px;
    height: 44px;
    background-color: #0F2626;;
    border-radius: 24px;
    display: inline-block;
    border:0;
    transition: all 300ms ease-in-out; 
}
.btnRegister{
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 40px;
    line-height: 39px;
    width:px;

    display: flex;
    flex-direction:column;
    background-color: transparent;
    border:0;
    font-size: 29px;
    color:white;
    font-family: 'Rochester', cursive;
    transition: all 300ms ease-in-out;
}

.btnBackToLogin{
    margin-left: 25px;
    margin-bottom: 5px;
    
    font-family: 'Rochester', cursive;
    color: white;
    font-size: 29px;
    background-color:transparent;
    border:0;
    transition: all 300ms ease-in-out; 
}

.btnSignUp{
    margin-bottom: 5px;
    margin-left: 40px;

    background-color: transparent;
    border:0;
    font-size: 29px;
    color:white;
    font-family: 'Rochester', cursive;
    transition: all 300ms ease-in-out;
}
.btnReurnToLogin{
    margin-bottom: 5px;
    margin-left: px;

    background-color: transparent;
    border:0;
    font-size: 29px;
    color:white;
    font-family: 'Rochester', cursive;
    transition: all 300ms ease-in-out;
}
.btnRegisterLink{
    display: unset;
    color: transparent;
}