@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.base{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
}
.imageLogo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
}
.loginImg{
    width: 100%;
    height: 100%;
}
.content{
    margin-top: 20px;
    width:100%;
    height: 80%;
    display:flex;
}


.imagePlaceholder{
    margin-left: 10px;
    width: 50%;
    height: 90%;
    
}

.placeImg{
    border-radius: 30px;
    width:100%;
    height:100%;
}

.formDiv{
    margin-left: 40px;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.imageWelcome{
    width: 60%;
    align-self: center;
}


.labelBox{
    font-size: 27px;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
}

.input{
    width: 100%;
    height: 20px;
}

.btnLogin{
    margin-top: 5px;
    background-color: black;
    color: white;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;
}

.btnLogin:hover{
    margin-top: 5px;
    background-color: rgb(74, 106, 165);
    color: white;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;

}

.btnForgotPassword{
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;
}
.btnForgotPassword:hover{
    margin-top: 5px;
    background-color: rgb(74, 106, 165);
    color: white;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;
}

.btnRegister{
    display: flex;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    color: white;
    border: 0;
    background-color: transparent;
}
.btnRegister:hover{
    display: flex;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    color:rgb(74, 106, 165);
    border: 0;
    background-color: transparent;

}

.btnLink{
    color: transparent;
}


/* Register */

.btnSignUp{
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;
}

.btnSignUp:hover{
    margin-top: 5px;
    background-color: rgb(74, 106, 165);
    color: white;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;
}

.btnReturnLogin{
    display: flex;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    color: white;
    border: 0;
    background-color: transparent;
}

.btnReturnLogin:hover{
    display: flex;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    color:rgb(74, 106, 165);
    border: 0;
    background-color: transparent;
}

/*Reset*/

.btnResetPassword{
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;

}

.btnResetPassword:hover{
    margin-top: 5px;
    background-color: rgb(74, 106, 165);
    color: white;
    display: flex;
    align-self: flex-start;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;
}

/*Home*/

.baseHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.note{
    font-family: 'Rochester','cursive';
    font-size: 30px;
    color: white;
}

.signOut{
    margin-top: 5px;
    background-color: black;
    color: white;
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;

}

.signOut:hover{
    margin-top: 5px;
    background-color: black;
    color: rgb(74, 106, 165);
    font-family: 'Rochester','cursive';
    font-size: 20px;
    cursor:pointer;
    border-radius: 4px;

}
